@charset "UTF-8";
@import url(font-awesome.min.css);

/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}


/* Box Model */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Basic */

@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
    html,
    body {
        min-width: 320px;
    }
}

body {
    background: #fff;
}

body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.inner {
    display: flex;
    margin: 0 auto;
    max-width: 65em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mini-title {
    color: black;
}

@media screen and (max-width: 1280px) {
    .inner {
        max-width: 90%;
    }
}

@media screen and (max-width: 980px) {
    .inner {
        max-width: 70%;
    }
}

@media screen and (max-width: 736px) {
    .inner {
        max-width: 85%;
    }
}


/* Type */

body,
input,
select,
textarea {
    color: #767d85;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {
    body,
    input,
    select,
    textarea {
        font-size: 11pt;
    }
}

@media screen and (max-width: 1280px) {
    body,
    input,
    select,
    textarea {
        font-size: 11pt;
    }
}

@media screen and (max-width: 980px) {
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
}

@media screen and (max-width: 736px) {
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
}

@media screen and (max-width: 480px) {
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
}

a {
    color: #25a2c3;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong,
b {
    color: #727a82;
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #727a82;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    line-height: 1.3;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

cite {
    display: block;
}

cite.author {
    font-weight: 400;
}

cite.company {
    font-size: .8em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}


/* Box */

.box {
    border-radius: 4px;
    border: solid 1px #dee1e3;
    margin-bottom: 2em;
    overflow: hidden;
}

.box> :last-child,
.box> :last-child> :last-child,
.box> :last-child> :last-child> :last-child {
    margin-bottom: 0;
}

.box .image.fit {
    margin: 0;
}

.box .content {
    padding: 1.5em;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}


/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon>.label {
    display: none;
}


/* Image */

.image {
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    display: block;
}

#logo {
    max-width: 40%;
    margin-left: -50%;
}

#image {
    width: 80%;
    border-radius: 2rem;
}

.image.left,
.image.right {
    max-width: 40%;
}

.image.left img,
.image.right img {
    width: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.round img {
    border-radius: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}


/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px #dee1e3;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 2em;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li>* {
    margin-bottom: 0;
}

ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}

ul.actions.fit li>* {
    margin-bottom: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
    ul.actions {
        margin: 0 0 2em 0;
    }
    ul.actions li {
        padding: 1em 0 0 0;
        display: block;
        text-align: center;
        width: 100%;
    }
    ul.actions li:first-child {
        padding-top: 0;
    }
    ul.actions li>* {
        width: 100%;
        margin: 0 !important;
    }
    ul.actions li>*.icon:before {
        margin-left: -2em;
    }
    ul.actions.small li {
        padding: 0.5em 0 0 0;
    }
    ul.actions.small li:first-child {
        padding-top: 0;
    }
}

dl {
    margin: 0 0 2em 0;
}

dl dt {
    display: block;
    font-weight: 700;
    margin: 0 0 1em 0;
}

dl dd {
    margin-left: 2em;
}


/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    width: 90%;
    margin: 5%;
}

table tbody tr {
    border: solid 1px black;
    border-left: 0;
    border-right: 0;
    background-color: rgba(0, 0, 0, .1);
}

table td {
    padding: 0.75em 0.75em;
    text-align: left;
    max-width: 230px;
}

table th {
    background-color: red;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    padding: 1em 0.75em 1em 0.75em;
    text-align: left;
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}


/* Flex */

.flex {
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    -ms-flex-pack: justify;
    -ms-flex-align: stretch;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    flex-direction: row;
}

.flex.flex-3 .flex-item {
    -ms-flex: 0 1 auto;
    -ms-flex-preferred-size: 30%;
    -moz-flex-basis: 30%;
    -webkit-flex-basis: 30%;
    -ms-flex-basis: 30%;
    flex-basis: 30%;
}

.flex.flex-3 .flex-item.left {
    text-align: right;
}

@media screen and (max-width: 980px) {
    .flex {
        -ms-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex.flex-3 .flex-item {
        -ms-flex-preferred-size: 100%;
        -moz-flex-basis: 100%;
        -webkit-flex-basis: 100%;
        -ms-flex-basis: 100%;
        flex-basis: 100%;
    }
    .flex.flex-3 .flex-item.left {
        text-align: right;
    }
}


/* Wrapper */

.wrapper {
    padding: 6em 0 4em 0;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5 {
    color: #25a2c3;
}

.wrapper.style1 {
    background: #f6755e;
    color: #fcdcd6;
}

.wrapper.style1 h1,
.wrapper.style1 h2,
.wrapper.style1 h3,
.wrapper.style1 h4,
.wrapper.style1 h5 {
    color: #fff;
}

.wrapper.style1 cite.author {
    color: #fff;
}

@media screen and (max-width: 980px) {
    .wrapper {
        padding: 3em 0 1em 0;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 2em 0 0.1em 0;
    }
}


/* Header */

body {
    padding-top: 6em;
}

#header {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: #fff;
    cursor: default;
    height: 6em;
    left: 0;
    line-height: 6em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
    text-align: center;
}

#header .logo {
    color: #e25822;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: -5px;
    text-decoration: none;
    display: inline-block;
}

#header nav {
    position: absolute;
    top: 0;
    height: inherit;
    line-height: inherit;
}

#header nav.left {
    left: 2em;
}

#header nav.right {
    right: 0;
}

#header nav .button {
    padding: 0 2em;
    height: 3.25em;
    line-height: 3.25em;
}

#header nav a {
    text-decoration: none;
    display: inline-block;
}

@media screen and (max-width: 980px) {
    body {
        padding-top: 44px;
    }
    #header {
        height: 44px;
        line-height: 44px;
    }
    #header .logo {
        font-size: 1.25em;
        text-align: center;
    }
    #header nav.left {
        left: 1em;
    }
    #header nav.right {
        display: none;
    }
    #logo {
        max-width: 30%;
        left: 0;
        margin-left: -10rem;
    }
}

@media screen and (max-width: 736px) {
    #header {
        min-width: 320px;
    }
    #logo {
        visibility: hidden;
    }
}


/* Banner */

#particle-js {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .5)), url(../../images/banner.jpg), center no-repeat;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: center top;
    background-repeat: no-repeat;
}

#banner {
    padding: 20em 0 20em 0;
    text-align: center;
}

#banner .content {
    -moz-transition: opacity 1s ease-in-out, -moz-transform 0.75s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out, -webkit-transform 0.75s ease-in-out;
    -ms-transition: opacity 1s ease-in-out, -ms-transform 0.75s ease-in-out;
    transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
    opacity: 1;
    height: 100px;
}

#banner h1 {
    font-size: 3em;
    color: white;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

#banner p {
    font-size: 1.25em;
    margin-bottom: 1.75em;
    color: #ADD8E6;
}

@media screen and (max-width: 1280px) {
    #banner {
        padding: 12em 0 10em 0;
    }
    #banner .content {
        margin-top: 100px;
        height: 200px;
    }
}

@media screen and (max-width: 980px) {
    #banner {
        padding: 8em 6em 6em 6em;
    }
    #banner br {
        display: none;
    }
    #banner h1 {
        font-size: 2.25em;
    }
    #banner .content {
        height: 400px;
        margin-top: 150px;
    }
}

@media screen and (max-width: 736px) {
    #banner {
        padding: 6em 4em 4em 4em;
    }
}

@media screen and (max-width: 480px) {
    #banner {
        padding: 4em 2em 2em 2em;
    }
    #banner h1 {
        font-size: 2em;
    }
    #banner p {
        font-size: 1em;
    }
    #banner .button {
        font-size: .9em;
    }
}

body.is-loading #banner .content {
    opacity: 0;
    -moz-transform: translateY(1em);
    -webkit-transform: translateY(1em);
    -ms-transform: translateY(1em);
    transform: translateY(1em);
}


/* Main */

.right {
    right: 0;
}

.menu-button {
    display: inline;
    background-color: white;
    padding: 2.40em 0 2.40em 0;
    margin: -0.2em;
    text-decoration: none;
    transition-duration: 0.2s;
}

.menu-button:hover {
    background-color: lightcoral;
}

.menu-button a {
    color: black;
    font-weight: 700;
}

#one .inner {
    margin-bottom: 2em;
}

#one .flex-item {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
}

#one .flex-item.left div:first-child,
#one .flex-item.right div:first-child {
    padding-top: 1em;
}

#one .flex-item.left div:last-child,
#one .flex-item.right div:last-child {
    -moz-align-self: -moz-flex-end;
    -webkit-align-self: -webkit-flex-end;
    -ms-align-self: -ms-flex-end;
    align-self: flex-end;
}

#one .flex-item.left div p,
#one .flex-item.right div p {
    margin-bottom: 1em;
}

@media screen and (max-width: 1280px) {
    #one .flex-item.left div:first-child,
    #one .flex-item.right div:first-child {
        padding-top: 0;
    }
    #one .flex-item.left div p,
    #one .flex-item.right div p {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 980px) {
    #one .flex-item {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    #one .flex-item.left br,
    #one .flex-item.right br {
        display: none;
    }
    #one .flex-item.left div:first-child,
    #one .flex-item.right div:first-child {
        padding-top: 0;
    }
    #one .flex-item.left div:last-child,
    #one .flex-item.right div:last-child {
        -moz-align-self: center;
        -webkit-align-self: center;
        -ms-align-self: center;
        align-self: center;
    }
    #one .flex-item.left div p,
    #one .flex-item.right div p {
        margin-bottom: 2em;
    }
}

#one {
    background-color: rgba(133, 96, 53, 0.274);
    color: black;
}

#one h1 {
    color: black;
    text-align: center;
}

#two {
    background-color: white;
}

#one .image.fit {
    margin: 0;
}

#three .about-us {
    width: 50%;
    margin: auto;
    color: black;
    text-align: center;
    margin-bottom: 5em;
}

@media screen and (max-width: 980px) {
    #one .image.fit {
        margin: 0 auto 2em auto;
        max-width: 60%;
    }
}

@media screen and (max-width: 480px) {
    #one .image.fit {
        margin: 0 auto 2em auto;
        max-width: 90%;
    }
}

@media screen and (max-width: 980px) {
    #three {
        text-align: center;
    }
}


/* Footer */

#footer {
    padding: 6em 0 4em 0;
    background: #25a2c3;
    text-align: center;
    color: #c8e7f0;
}

#footer h2 {
    color: #fff;
}

#footer .icon {
    color: #f6755e;
}

#footer a {
    color: #c8e7f0;
    text-decoration: none;
}

#footer ul li {
    padding: 0 2em;
}

#footer .copyright {
    display: inline-block;
    color: #a7d9e7;
    font-size: 0.75em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2em 10em;
}

@media screen and (max-width: 980px) {
    #footer {
        padding: 3em 0 1em 0;
    }
    #footer ul li {
        display: block;
        padding: .25em 0;
    }
}

@media screen and (max-width: 736px) {
    #footer .copyright {
        padding: 2em 5em;
    }
}

@media screen and (max-width: 480px) {
    #footer {
        padding: 2em 0 0.1em 0;
    }
    #footer ul li {
        font-size: .9em;
    }
    #footer ul li .icon:before {
        margin-left: -1em;
    }
    #footer .copyright {
        padding: 2em 0;
    }
}